*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-image: url(https://wallpaperaccess.com/full/31189.jpg);
    background-attachment: fixed;
    background-size: cover;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8px;
    background-color: #B5381E;
    height: 100px;
    font-family: "Trirong", serif;
}
.logo{
    color: rgb(48, 45, 45);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 35%;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color: rgb(48, 45, 45);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 15px;
}
.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 20px;
    height: 3px;
    background-color: rgb(48, 45, 45);
    margin: 5px;
    transition: all 0.5s ease;
}

@media screen and (max-width: 768px) {
    body{
        overflow-x: visible;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #B5381E;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 43%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }

    .nav-active{
        transform: translateX(0%);
    }
    @keyframes navLinksFade {
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0px);
        }
        
    }
    .toggle .line1{
        transform: rotate(-45deg) translate(-5px,6px);
    }
    .toggle .line2{
        opacity: 0;
    }
    .toggle .line3{
        transform: rotate(45deg) translate(-5px,-6px);
    }
}